<!DOCTYPE html>
<html>
  <head>
    <title>The Daily Baby</title>
  </head>
  <body>
    <% if @caption.present? %>
      <p><%= @caption %></p>
    <% end %>

    <% if @medium_url.present? %>
      <p>
        <%= image_tag @medium_url %>
      </p>
    <% end %>

    <p>
      If you'd like to see past pictures visit: <%= @kid.album.custom_url %>
    </p>

    <p>
      password: <%= @kid.album.password %>
    </p>
  </body>
</html>
