<!DOCTYPE html>
<html>
  <head>
    <title>The Daily Baby</title>
  </head>
  <body>
    <p>
      Keep up the good work, <%= @parent_name %>!
    </p>
    <p>
      This is a quick reminder to send your favorite picture of <%= @kid_name %> today. All you need to do is respond to this email with an attached picture, add any milestones or captions to the body, and we'll take care of the rest. See how far you've come by checking out <%= @kid_name %>'s gallery.
    </p>
    <p>
      Thanks for using The Daily Baby!
      <br />
      Rana & Julie
    </p>
    <p>
      Contact us anytime with feedback or suggestions. If you know any other parents of adorable babies, have them sign up at The Daily Baby.
    </p>
  </body>
</html>
