<!DOCTYPE html>
<html>
  <head>
    <title>The Daily Baby</title>
  </head>
  <body>
    <p>
      We'd really love to keep sending pictures to your friends and family. Simply reply to this email and attach a photo.
    </p>
    <p>
      It's that easy!
    </p>
    <p>
      Sincerely,
      <br />
      The Daily Baby Team
    </p>
  </body>
</html>
